ion-content {
  --background: #f4f4f4;
}

ion-toolbar {
  --background: #3880ff;
  --color: white;
}

ion-title {
  text-align: center;
}

ion-list {
  margin: 10px;
}

ion-button {
  margin-left: 10px;
}
