<ion-header>
  <ion-toolbar>
    <ion-title>
      Eleições 2024 - Gestão de Políticos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="politicos-container">
    <ion-card *ngFor="let politico of politicos">
      <ion-card-header>
        <ion-card-title>{{ politico.nome }} ({{ politico.numero }})</ion-card-title>
        <ion-card-subtitle>Partido: {{ politico.partido }} - Cargo: {{ politico.cargo }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button fill="clear" (click)="editarPolitico(politico)" color="primary">
          <ion-icon name="create-outline"></ion-icon> Editar
        </ion-button>
        <ion-button fill="clear" (click)="excluirPolitico(politico.id)" color="danger">
          <ion-icon name="trash-outline"></ion-icon> Excluir
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adicionarPolitico()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
